<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">


    <servers>
        <server>
            <id>TomcatServer</id>
            <username>${env.tomcat_login}</username>
            <password>${env.tomcat_password}</password>
        </server>
    </servers>


    <profiles>
        <profile>
            <id>tomcat-deploy</id>
            <properties>
                <tomcat.url>http://localhost:${env.tomcat_port}/manager/text</tomcat.url>
                <tomcat.path>/blog</tomcat.path>
            </properties>
        </profile>
    </profiles>


    <activeProfiles>
        <activeProfile>tomcat-deploy</activeProfile>
    </activeProfiles>

</settings>
